<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>About Us</h1>
            <p>Cameron Cutler is a junior developer starting from LHL</p>
            <p>This is the stuff he absolutely <b>loves:</b></p>
            <li>Kittens</li>
            <li>Mittens</li>
            <li>Itty bitty kittens in mittens
            <h2>Specifically this kitten</h2>
            <iframe src="https://giphy.com/embed/10CKh9kCBwLbuE" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>